@media (min-width: 768px) {
    .notices-wrapper {
        margin: 0;
        display: block;
        width: 100%;
    }
}

.notices-message, .notices-info-message {
    background-color: #5bc0de;
    border-radius: 2px;
    color: #ffffff;
    clear: both;
    border-left: .61805em solid rgba(0,0,0,.15);
    padding: 10px 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

.notice-danger {
    color: #7f3737;
    background-color: #fde1e1;
    border-color: #fcd5d5;
}

.notices-message::before, .notices-info-message::before,
.notices-message::after, .notices-info-message::after {
    content: '';
    display: table;
}

.notices-message::after, .notices-info-message::after {
    clear: both;
}

.notices-message .button {
    float: right;
    background: 0 0;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.618;
    padding: 0 0 0 1em;
    border-width: 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(255,255,255,.25)!important;
    border-radius: 0;
}

.notices-message .button:hover {
    color: #000000;
    opacity: 1;
}
