.title-badge {
    font-weight: 600;
    color: #212121;
    padding-left: 5px;
}

.count-badge {
    position: absolute;
    top: 6px;
    left: 20px;
    padding: 0 .5rem;
    color: #ffffff;
    font-size: 10px;
    opacity: 1;
    line-height: 1.4;
    border-radius: 100%;
    min-height: 17px;
    min-width: 18px;
    text-align: center;
    background: #212121;
}

.badge {
    display: inline-block;
    padding: .25rem .4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge-soft-success {
    color: #34c38f;
    background-color: rgba(52, 195, 143, 0.18);
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
