.btn, input[type=submit], button[type=submit] {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    float: right;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .65rem 1.5rem;
    font-size: .875rem;
    line-height: 1.846;
    border-radius: 0;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn {
    cursor: pointer;
}

.btn:hover, button:hover[type=submit] {
    cursor: pointer;
}

.close-btn-dialog {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 15px;
    line-height: 1;
}

.btn-dialog.close-btn-dialog {
    cursor: pointer;
    position: absolute;
    font-size: 25px;
    padding: 5px;
    z-index: 2;
    line-height: 1;
}

.btn-dialog.close-btn-dialog {
    color: hsla(0,0%,93.3%,.9);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 1;
}

.btn-primary, button[type=submit] {
    color: #ffffff;
    background-color: #ceb06a;
    border-color: #ceb06a;
    font-size: 1rem;
}

.btn-bg-black {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
    font-size: 1rem;
}

.btn-primary:hover, button:hover[type=submit] {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}

.element-more-products .button-more-products {
    background: #333333;
    color: #ffffff;
    padding: 22px 45px;
    border-radius: 0;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
}

.element-more-products .button-more-products:hover {
    background: #ceb06a;
}

.btn-sizeChart {
    font-weight: 600!important;
    font-size: 1rem;
}

.btn--dark {
    border-color: #121212;
    background-color: #121212;
    color: #ffffff;
}

a.button {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
    font-size: 1rem;
}

.btn-float-left {
    float: left!important;
}

.btn-link {
    font-weight: 400;
    color: #556ee6;
    text-decoration: none;
}

.btn-success {
    color: #ffffff;
    background-color: #34c38f;
    border-color: #34c38f;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #2ca579;
    border-color: #299b71;
}

.btn-sm-radius {
    border-radius: .25rem;
    padding: .47rem .75rem;
}

.btn-table {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-table-primary {
    color: #ffffff;
    background-color: #556ee6;
    border-color: #556ee6;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-rounded {
    border-radius: 30px;
}
