.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: .25rem;
}

.card {
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.card-gray {
    background-color: #f9f9f9;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 600;
}

.card-title-desc {
    color: #74788d;
    margin-bottom: 24px;
}

.form-control.card-form-control {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: calc(1.5em + .94rem + 2px);
    padding: .47rem .75rem;
}

textarea.form-control.card-form-control {
    height: auto;
}
