.form-control, input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    display: block;
    width: 100%;
    height: calc(2.91525rem + 2px);
    padding: .65rem 1.5rem;
    font-size: .875rem;
    line-height: 1.846;
    color: #999999;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ebebeb;
    border-radius: 0;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#searchForm .input-group {
    background: 0 0;
    position: relative;
    overflow: hidden;
}

.input-group .input-group-append {
    position: absolute;
    right: 0;
}

#searchForm .input-group button {
    background: 0 0;
}

.form-login-menu label {
    display: block;
}

.required {
    border-bottom: 0!important;
    color: red;
}

.login-forgot-password {
    margin-top: 10px;
}

.account-contain .login-forgot-password {
    padding: 10px;
}

.login-forgot-password a:hover {
    color: #ceb06a;
}

.form-wide {
    clear: both;
    width: 100%;
}

.form-row {
    margin-left: 0;
    margin-right: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-group {
    margin-bottom: 1rem;
}

.auth-account form .form-row {
    margin: 22px 0 11px;
}

#customer-auth .form-row {
    text-align: center;
}

.form-row label {
    display: block;
}

#customer-auth label {
    font-weight: 600;
    font-size: .9375rem;
    color: #333333;
}

form .form-row .required {
    visibility: visible;
}

#customer-auth .input-text {
    border-width: 0 0 2px 0;
    border-color: #EEEEEE;
    border-style: solid;
    padding: 0;
}

#customer-auth .form-label-checkbox {
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-left: 0;
}

.form-label-checkbox .input-form-checkbox {
    margin-right: .33423em;
}

.form-row input[type=checkbox] {
    width: auto;
}

#customer-auth button[type=submit] {
    width: 100%;
    padding: 14px 0;
    margin-top: 11px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #333333;
    text-transform: capitalize;
}

#customer-auth .forgot-password {
    position: absolute;
    bottom: -50px;
    right: 0;
    margin-bottom: 0;
    font-size: .875rem;
    font-weight: 500;
}

.off-screen-text {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.off-screen-text {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}

.form-control-wrap {
    position: relative;
}

@media (min-width: 768px) {
    .form-row-first {
        clear: both;
    }

    .account-content .form-row-first {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        padding: 0;
    }
}

@media (max-width: 425px) {
    #customer-auth .forgot-password {
        bottom: -5rem;
        right: auto;
    }
}
