.icon-iconify {
    font-size: 1.9rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
}

[class*=fa-].icon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    font-size: 1.125rem;
    line-height: 50px;
    text-align: center;
}

.btn.btn-add-cart > .icon-bag-cart {
    color: #ffffff;
}
