.img-responsive {
    max-width: 100%;
    height: auto;
}

.no-cover {
    background-size: auto;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
