#loading-page {
    background: #fff;
    position: fixed;
    z-index: 10001;
    top: 50%;
    width: 50px;
    height: 50px;
    left: 50%;
    margin: -25px auto auto -25px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#loading-page:before {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    vertical-align: middle;
    border: 1px solid #bbb;
    border-left-color: #000;
    border-radius: 50%;
    animation: opal-loading 450ms infinite linear;
    -webkit-animation: opal-loading 450ms infinite linear;
    margin: 10px auto;
}

@keyframes opal-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
