.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.nav-pills .nav-link.active {
    color:  #ffffff;
    background-color: #556ee6;
}

.nav-pills .nav-link {
    border-radius: .25rem;
}

.nav-pills > a {
    color: #495057;
    font-weight: 500;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-icon {
    font-size: 36px!important;
}
