.cc_dialog {
    padding: 1.5rem;
}

.light.cc_dialog {
    opacity: 0.9;
}

.cc_dialog.simple {
    max-width: 100%;
}

.cc_dialog .cc_dialog_headline {
    font-size: 16px;
}

.cc_dialog .cc_dialog_text {
    font-size: 13px;
}

.cc_dialog button {
    font-size: 12px;
}
