.table-responsive {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #495057;
}

.table th {
    font-weight: 600;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #eff2f7;
}

.table-centered th,
.table-centered td {
    vertical-align: middle!important;
}

.table-nowrap th,
.table-nowrap td {
    white-space: nowrap;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eff2f7;
}

.table .thead-light th {
    color: #495057;
    background-color: #f8f9fa;
    border-color: #eff2f7;
}

@media (min-width: 768px) {
    table.table-responsive tbody th {
        display: table-cell;
    }
}
