.ta {
    text-align: center;
}

.text-white {
    color: #ffffff !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #74788d!important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-dark {
    color: #343a40 !important;
}

.text-primary {
    color: #556ee6 !important;
}

@media (min-width: 576px) {
    .text-sm-right {
        text-align: right !important;
    }
}

.font-strong {
    font-weight: 600 !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.margin-top-5rem {
    margin-top: 5rem !important;
}

.margin-bottom-5rem {
    margin-bottom: 5rem !important;
}

.text-cgv {
    text-align: center;
    font-size: 18px;
    white-space: pre-line;
}
