.widget {
    margin: 0 0 1.618rem;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.products-list-car {
    list-style: none;
    margin-left: 0;
}

.widget-commerce-cart .products-list-cart {
    margin-bottom: 0;
}

.products-list-cart li {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    list-style: none;
}

.widget-commerce-cart .products-list-cart li:last-child {
    border-bottom: 0;
}

.widget-commerce-cart .products-list-cart li.product-cart-item {
    padding-left: 1.5rem;
    position: relative;
    margin-bottom: 0;
    text-align: left;
}

.widget ul li:first-child {
    padding-top: 0;
}

.widget ul li:last-child {
    padding-bottom: 0!important;
}

.products-list-cart li::before, .products-list-cart li::after {
    content: '';
    display: table;
}

.products-list-cart li::after {
    clear: both;
}

.products-list-cart li > a {
    padding: 0!important;
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 8px;
}

.widget-commerce-cart .products-list-cart li.product-cart-item a {
    font-size: .8125rem;
    color: #777777;
    font-weight: 300;
}

.widget-commerce-cart .products-list-cart li.product-cart-item a.remove-product-item {
    position: absolute;
    top: 1rem;
    left: 0;
    opacity: 1;
}

.products-list-cart li img {
    max-width: 100%;
    height: auto;
    margin-right: 30px!important;
    float: left;
    border-radius: 5px;
}

.widget-commerce-cart .products-list-cart li img {
    max-width: 30%;
    margin-right: 15px;
}

.products-list-cart .price-amount {
    font-size: 1rem;
    line-height: 36px;
    font-weight: 600;
}

.products-list-cart .price-amount {
    text-decoration: none;
    color: #222;
}

.widget-commerce-cart p.price-products-price, .widget-commerce-cart p.products-buttons {
    padding: 1em 0;
    margin: 0;
    text-align: center;
}

.widget-commerce-cart p.price-products-price {
    border-bottom: 1px solid #eee;
}

.products-buttons a {
    display: block;
    width: 100%;
    margin-bottom: .61805rem;
    font-weight: 600;
}

.widget-commerce-cart .products-buttons a:last-child {
    margin-bottom: 0;
}
