.entry-content {
    position: relative;
}

table.shop-products {
    max-width: 100%;
}

table.cart {
    margin-bottom: 3.70633em;
}

table.cart th {
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid #eeeeee;
}

table.cart .cart-products-item {
    border-top: 1px solid #eeeeee;
}

table.cart td.product-remove {
    padding: 0;
    position: relative;
}

table.cart td.product-remove a.remove {
    position: absolute;
    font-size: 1.41575em;
}

table.cart tr td.product-remove a.remove {
    text-align: left;
}

table.shop-products tr td::after,
table.shop-products tr td::before {
    content: '';
    display: table;
}

table.shop-products tr td::after {
    clear: both;
}

table.cart .product-thumbnail img {
    margin: 0 auto;
    max-width: 3.70633em;
    height: auto;
}

table.cart td.product-quantity .quantity-cart {
    padding: .326em;
    width: 3.70633em;
}

table.cart td.actions {
    border-top: 1px solid #eee;
    background-color: transparent;
    padding: 20px 0;
}

table.cart tr.shipping td.shipping-text {
    font-size: 15px;
}

.cart-totals {
    background-color: #f9f9f9;
    padding: 40px 5px;
    position: relative;
    margin-bottom: 3em;
}

.cart-totals:after,
.cart-totals:before {
    position: absolute;
    top: -10px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    background-color: transparent;
    background-size: 20px 20px;
    background-position: 0 10px, 40px 40px;
    background-image: radial-gradient(closest-side,transparent 9px,#f9f9f9 100%);
}

.shipping-calculator {
    margin: 0;
}

.btn-checkout {
    margin-bottom: 1.618em;
}

.btn-checkout::after,
.btn-checkout::before {
    content: '';
    display: table;
}

.btn-checkout .button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
    font-size: 1.125rem;
    float: none;
}

.btn-checkout .button:hover {
    background-color: #ceb06a;
    border-color: #ceb06a;
    color: #eeeeee;
}

@media (min-width: 768px) {
    .entry-post-cart {
        border-bottom: 0;
        padding-block: 0;
    }

    .cart-products-form {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 66.66667%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    table.shop-products thead {
        display: table-header-group;
    }

    table.cart td,
    table.cart th {
        padding: 1.618em;
    }

    table.shop-products tr td {
        display: table-cell;
    }

    table.cart td.product-remove {
        display: table-cell;
        padding: 1.618em;
    }

    table.cart td.product-remove a.remove {
        float: none;
        position: relative;
        top: auto;
        right: auto;
    }

    table.cart .quantity-cart {
        padding: .875em;
        max-width: 3.632em;
    }

    table.cart .quantity .quantity-cart {
        padding: .61805em;
    }

    table.cart td.actions {
        text-align: left;
    }

    .cart-collaterals {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 0;
    }

    .cart-collaterals::after,
    .cart-collaterals::before {
        content: '';
        display: table;
    }

    .cart-totals {
        padding: 40px;
    }

    .cart-collaterals h2 {
        font-size: 1.618em;
        font-weight: 600;
    }
}
