.checkout-tabs .nav-pills .nav-link.active {
    background-color: #556ee6;
}

.checkout-tabs .nav-pills .nav-link {
    margin-bottom: 24px;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.fade {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}
