.product-item-mail:first-child {
    padding-top: 0!important;
}

.product-item-mail {
    padding-top: 3.5rem!important;
}

.footer-products-mail {
    padding-top: 2.5rem!important;
}

.first-element-no-mb {
    margin-bottom: 0;
}

.product-item-payment-mail {
    padding-top: 2rem;
}
