.background-shop-product {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: 9998;
    cursor: pointer;
}

.popup {
    display: none;
    width: 40.5rem;
    padding: 4.5rem;
    background: #ffffff;
    text-align: center;
}

.popup.popup-position {
    left: 50%;
    position: absolute;
    top: 50px;
    z-index: 9999;
    opacity: 1;
    display: block;
    transform: translate(-50%, 25%);
}

.popup-shop {
    width: 60.5rem!important;
    height: 33.5rem!important;
    padding: 0;
}

.popup .popup-main {
    height: 100%;
    width: 100%;
}

.popup-main-img {
    text-align: center;
}

.popup-main-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.popup-img-visual {
    width: 50%;
    height: 33.5rem;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.popup-shop⁻infos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3.8rem;
}

.popup-shop-title {
    color: #2a2a2a;
    font-family: Oswald, Avenir, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: left;
}

.popup-main-price {
    margin-top: -0.8rem;
    font-family: Avenir, sans-serif;
    font-size: 1.3rem;
    letter-spacing: .2rem;
}

.popup-main-shop .popup-main-product{
    margin-top: 0;
}

.popup-main-product {
    margin-top: 4rem;
    position: relative;
}

.mt-17 {
    margin-top: 1.7rem!important;
}

.mt18 {
    margin-top: 1.8rem!important;
}

.mt22 {
    margin-top: 2.2rem!important;
}

.middle-item {
    margin-left: -2.5rem!important;
}

.colors-list-products {
    display: grid;
    grid-template-columns: repeat(auto-fill,4.8rem);
    grid-gap: .8rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.colors-list-products-item {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #e1e1e1;
    color: #969696;
    font-family: Avenir, sans-serif;
    font-size: 1.3rem;
}

.colors-list-products-item {
    margin-right: 0;
    margin-bottom: 0;
}

.colors-list-products-item.active {
    border-color: #000000;
    color: #000000;
}

.colors-list-products-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3.63rem;
    height: 3.6rem;
    cursor: pointer;
}

.color-red {
    background-color: #FF0000;
}

.color-blue {
    background-color: #3336FF;
}

.color-white {
    background-color: #ffffff;
}

.color-green {
    background-color: #00FF00;
}

.color-yellow {
    background-color: #FFFF00;
}

.color-orange {
    background-color: #FFA500;
}

.popup-shop⁻link {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.popup-shop⁻link {
    padding-bottom: .4rem;
    font-family: Avenir Book, Avenir Black, sans-serif;
}

.popup-shop⁻link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    z-index: -1;
    webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.77,0,.175,1);
    transition: -webkit-transform .3s cubic-bezier(.77,0,.175,1);
    -o-transition: transform .3s cubic-bezier(.77,0,.175,1);
    transition: transform .3s cubic-bezier(.77,0,.175,1),
    -webkit-transform .3s cubic-bezier(.77,0,.175,1);
}

.popup-shop⁻link:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

@media (max-width: 991px) {
    .popup-shop {
        width: 49.5rem!important;
        height: 40.5rem!important;
    }
}

@media (max-width: 811px) {
    .popup-shop {
        width: 40rem!important;
        height: 42.5rem!important;
    }
    .popup-img-visual {
        width: 75%;
        height: 37rem;
    }
}

@media (max-width: 550px) {
   .popup-shop {
       display: none;
   }
}
