.products-filter-header {
    margin-bottom: 40px;
}

.products-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-width: 100%;
    position: relative;
}

.products-filter-container .products-show-per-page span {
    padding-right: 5px;
}

.products-filter-container .products-show-per-page a {
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
}

.products-filter-container .products-show-per-page a:hover {
    color: #ceb06a;
}

.products-filter-container .products-show-per-page a:before {
    content: "/";
    position: absolute;
    right: 0;
    color: #999999;
}

.products-filter-container .products-display-mode a {
    margin-right: 5px;
}

@media (min-width: 768px) {
    .products-ordering {
        float: right;
        margin-bottom: 0;
        padding: .327em 0;
    }
}

.products-selected-filters {
    margin-top: 30px;
    width: 100%;
}

.products-selected-filters a {
    display: inline;
    margin-right: 15px;
    padding: 10px 20px 10px 10px;
    position: relative;
    background: #f9f9f9;
    font-size: .875rem;
}

.products-selected-filters a:hover {
    color: #ceb06a;
}

.products-selected-filters a:before,
.products-selected-filters a:after {
    content: ' ';
    position: absolute;
    right: 5px;
    top: 50%;
    width: 10px;
    height: 2px;
    display: inline-block;
    background-color: currentColor;
    -webkit-transition: background-color .2s ease-in-out,width .2s ease-in-out,-webkit-transform .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out,-webkit-transform .2s ease-in-out;
}

.products-selected-filters a:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.products-selected-filters a:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.products-selected-filters a:hover:before,
.products-selected-filters a:hover:after {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.products-selected-filters .widget.widget-nav-filters {
    display: inline-block;
    margin-bottom: 0;
}

.products-selected-filters h2.widget-title-nav-filters {
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: -120px;
    margin-bottom: 20px;
    font-weight: 600;
}

@media (min-width: 576px) {
    .products-filter-container ul.products {
        margin-left: -30px;
        margin-right: -15px;
    }
}

@media (min-width: 768px) {
    .products-result-count {
        float: right;
        position: relative;
        margin-bottom: 0;
        padding: .327em 0;
    }

    .products-pagination {
        float: right;
        border: 0;
        clear: none;
        padding: 0;
        margin-bottom: 0;
    }
}

.products-pagination ul.page-numbers li {
    display: inline-block;
    list-style: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.products-pagination ul.page-numbers li span.current {
    color: #333333;
    padding: 8px 12px;
    border-bottom: 1px solid #ceb06a;
}

.products-pagination ul.page-numbers li a {
    color: #777777;
}

#filters-list li.chosen {
    display: inline-block;
}
