#reviews {
    outline: 0;
}

#comments {
    padding-top: 75px;
}

#reviews #comments {
    padding-top: 0;
}

.single-product #reviews .reviews-title {
    display: none;
}

#reviews .comments-list {
    list-style: none;
    margin-left: 0;
}

.comment {
    display: block;
}

#reviews .comments-list li.comment-item {
    margin-bottom: 2.61792em;
    list-style: none;
    clear: both;
    border-bottom: 1px solid #EEEEEE;
}

#reviews .comment-item li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

#reviews .comments-list li.comment-item::before,
#reviews .comments-list li.comment-item::after {
    content: '';
    display: table;
}

#reviews .comments-list li.comment-item::after {
    clear: both;
}

#reviews .comments-list li .comment-container {
    border-radius: 3px;
}

#reviews .comments-list li .avatar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 90px;
    height: auto;
    border-radius: 50%;
}

#reviews .comments-list li .comment-container .comment-text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 90px);
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}

#reviews .comments-list li .comment-container .comment-text .star-rating {
    font-size: .875em;
    line-height: 1;
    height: 1em;
}

#reviews .comments-list li p.comment-meta {
    margin-bottom: 1em;
}

#reviews .comments-list li p.comment-meta strong {
    line-height: 1;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}

#reviews .comments-list li p.comment-meta em.verified {
    font-style: normal;
    font-size: .875em;
}

#reviews .comments-list li p.comment-meta time {
    display: block;
    opacity: .5;
    font-size: .875em;
}

#reviews .comments-list li .comment-container .comment-description {
    color: #333333;
    font-size: .9825em;
}

#respond-comment {
    clear: both;
    padding: 0 0 60px;
    position: relative;
}

#respond-comment form, #respond-comment .form-submit {
    margin-bottom: 0;
}

#reviews .comment-rating-form {
    clear: both;
}

#reviews .comment-rating-form label {
    display: block;
    font-size: 13px;
}

p.stars {
    display: inline-block;
    margin: 0;
}

p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    margin-right: 1px;
    font-weight: 400;
}

p.stars a::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: FontAwesome, sans-serif;
    content: '\f005';
    color: #666;
    text-indent: 0;
    opacity: .25;
}

p.stars:hover a::before {
    content: '\f005';
    color: #333333;
    opacity: 1;
}

p.comment-form-comment textarea {
    height: auto;
}

p.form-submit .btn-comment-submit {
    float: left;
}
