@import "../components/card";
@import "../components/color";
@import "../components/badge";

.main-content {
    overflow: hidden;
    margin-left: 0;
}

.page-content {
    margin-top: 70px;
    padding: calc(55px + 24px) calc(24px / 2) 60px calc(24px / 2);
}

.page-title-content {
    margin-bottom: 24px;
}

.page-title-content h4 {
    text-transform: uppercase;
    color: #495057;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px!important;
}

.font-poppins {
    font-family: Poppins, sans-serif;
    color: #495057;
}

.overflow-hidden {
    overflow: hidden;
}

.font-h6-size {
    font-size: .8125rem;
}

.font-h5-size {
    font-size: 1.01563rem;
}

.font-h4-size {
    font-size: 1.21875rem;
}

.font-size-12 {
    font-size: 12px!important;
}

.font-size-14 {
    font-size: 14px!important;
}

.font-size-15 {
    font-size: 15px!important;
}

.font-size-16 {
    font-size: 16px!important;
}

.font-weight-light-bold {
    font-weight: 600!important;
}

.font-size-24 {
    font-size: 24px!important;
}

.text-body {
    color: #495057!important;
}

.avatar-icon-dashboard:before {
    font-size: 24px!important;
}

.avatar-md {
    height: 4.5rem;
    width: 4.5rem;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-position {
    margin-top: -26px;
}

.avatar-icon {
    overflow: hidden;
    position: relative;
}

.avatar-icon:before, .avatar-icon:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 54px;
    background-color: rgba(255,255,255,.1);
    left: 16px;
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
    top: -5px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.avatar-icon:after {
    left: -12px;
    width: 12px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #556ee6;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
