.btn {
    background-color: transparent;
}

[class*=btn-submit-] {
    font-size: 13px;
    color: #ffffff;
}

.btn-submit-primary {
    background-color: #556ee6;
    border-color: #556ee6;
}

.btn-submit-success {
    background-color: #34c38f;
    border-color: #34c38f;
}

.btn-submit-danger {
    background-color: #f46a6a;
    border-color: #f46a6a;
}

.btn-rounded {
    border-radius: 30px;
}
