.card {
    margin-bottom: 24px;
    border: 0 solid #f6f6f6;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 600;
}

.card-title-desc {
    color: #74788d;
    font-size: 13px;
    margin-bottom: 24px;
}
