.custom-control-top .custom-control-label:after,
.custom-control-top .custom-control-label:before {
    top: 2px;
}

.card-dropzone .dropzone {
    min-height: 230px;
    border: 2px dashed #ced4da;
    background: #fff;
    border-radius: 6px;
}

.form-input-light {
    font-size: .8125rem;
}
