.fa:before {
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-size-icon-head:before {
    font-size: 12px!important;
}

.font-size-14:before {
    font-size: 14px;
}

.item-font a {
    font-size: 13px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}
