.widget .widget-title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #333333;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 2px solid #333333;
}

.widget.widget-filter-price .widget-title {
    border-bottom: 0;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul li:first-child {
    padding-top: 0;
}

.category-item a {
    position: relative;
}

.category-item a.color-filtre {
    font-weight: 600;
}

.widget-categories li a:not(.button),
.widget-filter-size li a:not(.button) {
    position: relative;
    padding-left: 35px;
    padding-top: 3px;
    font-size: .8125rem;
    font-weight: 400;
    color: #333333;
    text-transform: capitalize;
}

.widget-categories li a:not(.button):before,
.widget-filter-size li a:not(.button):before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #d1d1d1;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.widget-categories li a:not(.button):hover:before,
.widget-filter-size li a:not(.button):hover:before {
    content: '\f00c';
    font-family: FontAwesome, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    line-height: 18px;
    font-size: 8px;
    text-align: center;
    border: #333333;
    color: #ffffff;
    background-color: #333333;
}

.product-categories a:after, .product-sizes a:after {
    content: '';
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: -1;
    -webkit-transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    background: currentColor;
}

.product-categories a:after, .product-sizes a:after {
    background: 0 0;
}

.widget li .count {
    font-size: .75rem;
    font-weight: 400;
    float: right;
    color: #777777;
}

ul.product-color > li.category-item > span.filter-color {
    border-radius: 100%;
    border: 1px solid #d1d1d1;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    position: relative;
}

ul.product-color > li.category-item > span.filter-color:before {
    content: '\f00c';
    font-family: FontAwesome, sans-serif;
    top: 1px;
    bottom: 1px;
    left: 0;
    right: 0;
    font-size: 8px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    line-height: 1;
    color: #ffffff;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
}

ul.product-color > li.category-item:hover > span.filter-color:before {
    opacity: 1;
}
