body {
    font-family: Poppins, sans-serif;
    font-size: .8125rem;
    color: #495057;
    background-color: #f8f8fb;
}

#topbar-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    padding: 0 calc(24px / 2) 0 0;
}

@media (min-width: 1200px) {
    .navbar-header {
        max-width: 85%;
    }
}

.navbar-box {
    width: auto;
    padding: 0 1.5rem;
    text-align: center;
}

.logo {
    line-height: 70px;
}

.logo.logo-block {
    display: block;
}

.header-profile-user {
    height: 36px;
    width: 36px;
    background-color: #f6f6f6;
    padding: 3px;
}

.header-item {
    height: 70px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    color: #555b6d;
    border: 0;
    border-radius: 0;
}

.effect-click-btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header-item:hover {
    color: #555b6d;
}

.user-head-text {
    font-size: 13px;
    font-family: Poppins, sans-serif;
}

.topnav {
    background: #ffffff;
    padding: 0 calc(24px / 2);
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    margin-top: 70px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}

@media (min-width: 992px) {
    .topnav {
        background-color: #556ee6;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 85%;
    }
}

.topnav .topnav-menu {
    margin: 0;
    padding: 0;
}

.topnav .navbar-nav .nav-link {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    position: relative;
    padding: 1rem 1.3rem;
    color: #545a6d;
}

@media (min-width: 992px) {
    .topnav .navbar-nav .nav-item:first-of-type .nav-link {
        padding-left: 0;
    }

    .topnav .navbar-nav .nav-link {
      color: rgba(255,255,255,.6);
    }

    .topnav .navbar-nav .nav-link:hover {
      color: rgba(255,255,255,.9);
    }

    .topnav .navbar-nav .nav-item:hover .dropdown-menu {
      display: block;
    }

    .topnav .dropdown .dropdown-menu {
        margin-top: 0;
        border-radius: 0 0 .25rem .25rem;
    }

    .topnav .dropdown-item {
        padding: .5rem 1.5rem;
        min-width: 180px;
    }
}

.topnav .navbar-nav .nav-link i:before {
    font-size: 13px;
}

.topnav .navbar-nav .dropdown-item {
    color: #545a6d;
    font-size: 13px;
    font-family: Poppins, sans-serif;
}

.arrow-down {
    display: inline-block;
}

.arrow-down:after {
    border-color: inherit;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: '';
    height: .4rem;
    display: inline-block;
    right: 5px;
    top: 50%;
    margin-left: 10px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: .4em;
}
