.canvas {
    position: fixed;
    min-height: 100%;
    max-height: none;
    top: 0;
    display: block;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.canvas {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.canvas-overlay {
    z-index: 1080
}

.canvas {
    opacity: 1;
    visibility: hidden;
    overflow: hidden;
}

.d-none {
    display: none!important;
}

.canvas-left {
    width: 25rem;
    height: 100%;
}

.canvas-transition {
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translate3d(-25em,0,0);
    transform: translate3d(-25em,0,0);
    width: 25rem;
    height: 100%;
}

.canvas-transition.is-open {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: visible;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.canvas.is-open {
    opacity: 1;
    overflow: hidden;
    visibility: visible;
}

.canvas-transition.is-closed {
    max-height: 100%;
    overflow: hidden;
    visibility: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 767px) {
    .canvas-transition {
        height: 100%;
        width: 100%;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
}

.canvas-bg {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1079;
    left: -100%;
    background-color: transparent;
    -webkit-transition: background-color .4s cubic-bezier(.23,1,.32,1) 0ms;
    transition: background-color .4s cubic-bezier(.23,1,.32,1) 0ms;
}

.canvas-bg.is-open {
    left: 0;
    background-color: rgba(0,0,0,.68);
    visibility: visible;
}

.canvas-container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100%;
    padding: 30px;
}

.canvas-container .canvas-logo {
    max-width: 178px;
}

.canvas-container .canvas-btn-close {
    display: block!important;
    font-size: 25px;
    cursor: pointer;
    right: 20px;
    top: 10px;
    position: absolute;
    z-index: 9;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    outline: 0;
}

.canvas-top {
    padding: 30px 0 30px;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 0;
}

.canvas-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}

.nav-menu {
    width: 100%;
}

.nav-menu {
    position: relative;
    z-index: 2;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: transparent;
}

.nav-menu:after {
    content: "\00a0";
    display: block;
    height: 0;
    font: 0px/0 serif;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.nav-menu li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: transparent
}

.nav-menu li {
    position: relative;
}

.nav-menu li.menu-item {
    display: block;
    border-bottom: 1px solid #eee;
}

.canvas-content > .nav-menu > li > a:after {
    content: "";
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: -1;
    -webkit-transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    background: #ceb06a;
}

.nav-aside-item:not(:hover):not(:focus):not(.nav-aside-item):not(.highlighted):after {
    opacity: 0;
}

.nav-aside-item {
    font-size: .9375rem;
    font-weight: 300;
    color: #777777;
}

.nav-menu a {
    position: relative;
}

.nav-menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.canvas-content .nav-menu > li > a {
    position: relative;
    font-weight: 600;
    text-transform: capitalize;
    padding: 15px 0;
    display: block;
}

.canvas-footer {
    margin-top: 30px;
    width: 100%;
    border-top: 0;
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.canvas-footer a {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0;
}

.canvas-footer svg, .canvas-footer svg {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    font-size: 1.8rem;
}
