 @media (min-width: 770px) {
     .element.element-desktop-hidden:not(.element-mobile-active) {
         display: none;
     }
 }

 @media (max-width: 770px) {
     .element-desktop-head {
         display: none;
     }

     .element.element-desktop-hidden:not(.element-mobile-active) {
         display: block;
     }
 }

 @media (max-width: 570px) {
     .element-left-item {
         margin-left: -6.9rem;
     }
     .element-image-responsible {
         margin-left: -2.95rem;
     }
 }

 .element-position-r {
     position: relative;
 }

.element.element-menu-mobile {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #EEEEEE;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 20px;
}

.element-section.element-section-boxed > .element-container {
    max-width: 1170px;
}

@media (min-width: 768px) {
    .element .element-column.element-col-33 {
        width: 33.333%;
    }
}

@media (min-width: 768px) {
    .element .element-column.element-column-mobile {
        width: 80%;
    }
}

 .element.element-menu-mobile .element-column-mobile > .element-column-wrap > .element-widget-menu {
     align-content: center;
     align-items: center;
 }

 .element-widget-menu > .element-widget.element-widget-l {
     text-align: left;
 }

 .element-float-right {
     float: right;
 }

 .element-button-mobile {
     font-size: 18px;
     padding: 11px 8px;
     display: inline-block;
 }
