.element-footer > .element-container .element-row .element-column-wrap.footer-element {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 25px 50px;
}

.element-footer > .element-container .element-row .element-column-wrap.footer-element {
    background-color: #f1f1f1;
}

.footer .element-column-wrap {
    padding: 0;
}

.element-widget-align-content {
    align-content: center;
    align-items: center;
}

.element-text-editor {
    text-align: right;
}

.email-footer-inscription {
    padding-right: 3rem;
    width: 100%;
    max-width: 100%;
}

.h2 {
    margin-bottom: 2.4rem;
    color: #201d1d;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 500;
}

.h3 {
    color: #201d1d;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 500;
}

.newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (min-width: 1025px) {
    .email-footer-inscription input[type='text'] {
        padding: 1.4rem 2rem;
    }
}

.email-footer-inscription input[type='text'] {
    color: #ffffff;
}

.newsletter input[type='text'] {
    width: 60%;
    border-right: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 1025px) {
    .newsletter input[type='text'] {
        width: 70%;
    }
}

.newsletter input[type='submit'] {
    width: 40%;
    background-color: #201d1d;
    border-left: 0;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (min-width: 1025px) {
    .newsletter input[type='submit'] {
        width: 40%;
    }
}

.email-footer-inscription .small {
    font-size: 11px;
    opacity: 0.6;
}

.padding-footer-after-form {
    padding: 2rem 0;
}

.links-block h3 {
    padding: 0 0rem;
    font-size: 1.6rem;
}

.bullet {
    list-style: none;
    padding-left: 0;
}

.links-block ul li a {
    font-size: 0.9rem;
    border: none;
}

.links-block ul li a:hover {
    color: #ceb06a;
}

.social-follow {
    width: 100%;
    max-width: 100%;
}

.flex-social {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
}

.flex-social {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    margin-right: 0;
    margin-left: auto;
}

.flex-social.mail-footer {
    max-width: 100%;
    justify-content: normal;
    padding-top: 1rem;
    padding-left: 19.5rem;
}

.flex-social a {
    margin: 0;
    padding: 0 1rem 0 0;
    border: none;
}

.flex-social a i {
    height: 1.5rem;
    width: 1.5rem;
    color: #333;
}
