@import './element-header-mobile';

.element-section .element-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 768px) {
    .element-column.element-col-16 {
        width: 16.666%;
    }
}

@media (min-width: 768px) {
    .element-column.element-col-33 {
        width: 33.333%;
    }
}

@media (min-width: 768px) {
    .element-column.element-col-66 {
        width: 66.666%;
    }
}

@media (max-width: 1338px) {
    .element-responsive {
        width: 45%!important;
    }
}

.element-button span {
    text-decoration: inherit;
}

.element-button {
    display: inline-block;
    line-height: 1;
    background-color: #818a91;
    color: #ffffff;
    fill: #ffffff;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.element a {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

.element img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.element-image-logo {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.element-widget-mb-0 {
    margin-bottom: 0;
}

.element-widget-wrap {
    position: relative;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.element-section-width-100 {
    width: 100%;
}

.element-widget > .element-widget-contain > .element-image div.element-image-logo {
    vertical-align: middle;
    display: inline-block;
}

.element-widget-menu .element {
    max-width: 100%;
}

.element-widget.element-search > .element-widget-contain > .element-search-form {
    text-align: center;
}

.element-widget-left {
    text-align: left;
}

.element-widget-header .element-header-title{
    padding: 0;
    margin: 0;
    line-height: 1;
}

.element-header-title {
    font-size: 22px;
    font-weight: 600;
}

.element-search .element-search-form-toggle {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    color: #494c4f;
}

.element-full-screen .element-search-form-toggle svg {
    position: relative;
    display: block;
    border: solid 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
}

.element-search .element-search-form-toggle svg {
    font-size: 50px;
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0);
}

.element-image-logo {
    width: 75px;
}

.element-widget-image > .element-widget-contain > .element-image > a {
    display: inline-block;
}

.element-button:focus, .element-button:hover, .element-button:visited {
    color: #ffffff;
}

.element-widget-element > span > .element-button:hover {
    color: #e7c194;
}

.element-account > .element-widget-contain {
    padding: 0 15px;
}

.element-account .element-widget-contain {
    text-align: center;
}

.element-widget-cart .element-widget-contain {
    text-align: right;
}

.element-header-account {
    position: relative;
    font-size: 14px;
}

.element-dropdown svg,
.element-menu-mobile-widget .element-button-mobile svg {
    color: #333333;
    font-size: 30px;
    margin-bottom: -6px;
}

.element-account:hover .element-dropdown-menu, .element-widget-cart:hover .element-dropdown-menu {
    top: 100%;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.element-dropdown-menu {
    display: block;
    text-align: left;
    right: 0;
    top: calc(100% + 15px);
    position: absolute;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    pointer-events: none;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
    color: #666666;
    padding: 25px;
    min-width: 280px;
    background: #ffffff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
}

.element-dropdown-menu:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #ffffff;
    top: -5px;
    right: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}

.account-contain > .element-dropdown-menu-header-login {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
}

.account-contain > .element-dropdown-menu-header-login > .element-title-login {
    font-weight: 700;
    color: #212121;
    text-transform: uppercase;
}

.register-link {
    font-weight: 400;
    color: #666666;
    text-transform: uppercase;
}

.account-contain .register-link {
    color: #ceb06a;
    text-transform: capitalize;
}

.element-widget-cart .element-header-button {
    position: relative;
    text-align: left;
    display: inline-block;
}

.element-widget.element-widget-cart .element-header-button svg,
.element-header-button.element-button-mobile.widget-element-mobile svg {
    color: #333333;
    font-size: 30px;
}

.element-widget-cart .element-header-button svg {
    line-height: 1;
    vertical-align: middle;
    position: relative;
    float: left;
}

.element-widget-wishlist {
    padding-top: 3px;
}

.element-widget-wishlist .element-header-button {
    position: relative;
    padding-right: 8px;
}

.element-widget-cart .element-header-button {
    padding-right: 15px;
    margin-bottom: 8px;
}

.element-widget-header:hover {
    color: #ceb06a!important;
}

.element-button.element-size-sm {
    font-size: 15px;
    padding: 12px 24px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.element-button.no-radius {
    padding: 12px 0;
    color: #000000;
    background-color: transparent;
    font-size: 1.125rem;
    border-radius: 0;
}

.element .element-widget-contain {
    -webkit-transition: background .3s, border .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
    -o-transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
}

.element-widget {
    position: relative;
}

.element-widget-image {
    text-align: center;
}

.element {
    width: 100%;
}

.element-widget:not(:last-child) {
    margin-bottom: 0;
}

.element-search {
    width: auto;
    align-self: center;
}

.element-widget-menu {
    position: relative;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.element-widget-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.element-container > .element-row > .element-column > .element-menu-show > .element-widget-menu {
    align-content: center;
    align-items: center;
}

.element-column-wrap {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.element-column {
    position: relative;
    min-height: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.element-row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.element-section.element-position > .element-container {
    max-width: 1710px;
}

.element-section {
    position: relative;
}

.header-section {
    z-index: 99;
    width: 100%;
}

.element-header {
    position: relative;
    width: 100%;
}

.element-position {
    padding: 35px 15px;
}

.element-header-button .count-badge {
    top: 3px;
    right: 0;
    left: auto;
    padding: 0;
    min-width: 18px;
    min-height: 18px;
    line-height: 18px;
}

.element-widget-cart .element-header-button .count-badge {
    color: #ffffff;
    background-color: #ceb06a;
}

.element-full-screen .element-search-form .element-search-container:not(.element-search-full-screen) {
    background: #eceeef;
}

.element-search-form > .element-search-container:not(.element-search-full-screen) {
    overflow: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.element-full-screen .element-search-form .element-search-container {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    padding: 0 15%;
    background-color: rgba(0,0,0,.8);
}

.element-search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .2s;
    transition: .2s;
    overflow: hidden;
    border-top: 0 solid transparent;
    min-height: 50px;
}

.element-search-input {
    background-color: transparent!important;
}

input[type=search].element-search-input {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: 0 0;
    line-height: 1;
    min-width: 0;
    font-size: 15px;
    -webkit-appearance: none;
}

.element-search-container.element-search-full-screen input[type=search] {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #ffffff;
    line-height: 1.5;
    color: #ffffff;
    padding-bottom: 10px;
}

.element-search-container.element-search-full-screen input[type=search] {
    border-radius: 0;
}
