@import "element-header";
@import "aside";

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: Avenir, sans-serif;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.846;
    color: #777777;
    text-align: left;
    background-color: #ffffff;
}

*:focus {
    outline: 0;
    outline-offset: 2px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    display: inline-block!important;
}

input:focus[type=color], input:focus[type=date], input:focus[type=datetime-local], input:focus[type=datetime], input:focus[type=email], input:focus[type=file], input:focus[type=month], input:focus[type=number], input:focus[type=password], input:focus[type=range], input:focus[type=search], input:focus[type=tel], input:focus[type=text], input:focus[type=time], input:focus[type=url], input:focus[type=week], select:focus, textarea:focus {
    color: #999999;
    background-color: #ffffff;
    border-color: #ceb06a;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

textarea {
    height: auto;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

a {
    color: #333333;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a {
    word-wrap: break-word;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

img, video {
    max-width: 100%;
    height: auto;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

b, strong {
    font-weight: bolder;
}

table {
    border-collapse: collapse;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    table-layout: inherit;
}

th {
    text-align: inherit;
}

table td, table th {
    border-top: 1px solid #eee;
}

table td, table th {
    padding: .75em;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    line-height: 1.2;
    margin: 0 0 .75em;
    letter-spacing: 0;
    font-weight: 500;
    color: #333;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.875rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .8125rem;
}

.w-100 {
    width: 100%!important;
}

.mt-1 {
    margin-top: .25rem!important;
}

.mb-15 {
    margin-bottom: 15px;
}
