.content-title-account {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    max-width: 770px;
    margin: auto;
}

.title-contain h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #333333;
    margin-bottom: 14px;
}

.content-title-account span {
    position: relative;
    padding: 0 5px;
}

.content-title-account span span {
    margin-right: 0;
    padding: 0;
}

.content-title-account a {
    text-decoration: none;
    color: #888;
}

article.block-content .content-account {
    position: relative;
}

@media (min-width: 768px) {
    .auth-account-notices {
        margin: 0;
        display: block;
        width: 100%;
    }
}

.auth-account-heading {
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
}

.auth-account-heading a {
    font-size: 1.25rem;
    font-weight: 500;
    color: #333333!important;
    text-transform: capitalize;
    margin: 0 30px;
}

.auth-account-heading > a.item-auth.active, .item-auth:hover {
    color: #ceb06a!important;
}

#customer-auth {
    width: 470px!important;
    max-width: 100%;
    margin: 1px auto 10.61792rem;
    position: relative;
    float: none!important;
}

@media (min-width: 768px) {
    .col-set#customer-auth {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
}

#customer-auth .form-login {
    background: 0 0;
}

@media (min-width: 768px) {
    .account-navigation {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.account-navigation ul {
    margin-left: 0;
    padding: 0;
}

.account-navigation ul li {
    list-style: none;
    position: relative;
}

.account-navigation ul li a {
    padding: .875rem 1em;
    display: block;
    position: relative;
}

.account-navigation ul li.is-active a, .account-navigation ul li a:hover {
    color: #ceb06a;
}

.account-navigation ul li a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    padding-right: .875em;
}

@media (min-width: 768px) {
    .account-content {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 66.66667%;
        float: right;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.element-dropdown-menu ul, .element-dropdown-menu li {
    padding: 0;
    margin: 0;
    border-style: none;
    list-style: none;
}

.li-account {
    padding: 5px!important;
}

.account-items a {
    font-size: 15px;
    position: relative;
}

.account-items a:after {
    content: '';
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: -1;
    -webkit-transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    background: currentColor;
}

.account-items a:after {
    background: 0 0;
}

.account-items a:hover {
    color: #ceb06a;
}
