@import "components/modal-collections";

.container-collections {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container-collections {
    border: 6.4rem solid #fff;
    border-bottom: 0;
}

.row-collections-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row-collections-title .col-1,
.image-row-collections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.row-collections-title .col-1 .cell-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: visible;
    position: relative;
}

.row .col-1 {
    width: 100%;
    position: relative;
}

.row#footer-collection .cell-1 {
    padding-top: 65%!important;
    padding-bottom: 5rem;
}

.row .cell-1 {
    overflow: hidden;
    padding-top: 125%;
    position: relative;
}

.mb-collection-cell {
    margin-bottom: -20rem;
}

.image-collection {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;
}

.image-collection,
.image-collection-visual,
.products-collection-visual {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.image-collection-light {
    color: #ffffff;
}

.image-collection-visual,
.products-collection-visual {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.image-collection-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.image-collection-panel-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 25%;
}

.row .col-1 .cell-1 .image-collection-panel {
    padding-left: 6.3%;
    padding-right: 6.3%;
}

.image-collection-title {
    width: 100%;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    color: #ffffff;
}

.row .col-1 .cell-1 .image-collection-title {
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 25px;
}

.image-collection-subtitle {
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: Avenir Book, Avenir Black, sans-serif;
    color: #ffffff;
}

.image-collection-subtitle {
    text-align: center;
}

.image-collection-title+.image-collection-subtitle {
    margin-top: 2rem;
}

.btn--light {
    border-top: #ffffff!important;
    background-color: #ffffff;
    color: #121212;
}

.btn--light:hover {
    border-color: #121212;
    background-color: #121212;
    color: #fff;
}

.image-collection+.btn {
    margin-top: 3.3rem;
}

.image-collection .btn {
    padding-left: 6.8rem;
    padding-right: 6.8rem;
    font-size: 1.3rem;
    font-family: Oswald, sans-serif;
}

.image-collection-img {
    display: block;
    max-height: 60rem;
    z-index: -1;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.image-collection-img.no-contain {
    background-size: contain;
}

.collections-title {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4% 6.5%;
    text-decoration: none;
}

.row-collections-title .collections-title-title {
    font-size: 3.5rem;
}

.collections-title-title {
    width: 100%;
    color: #121212;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.collections-title-text {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
}

.row-collections-title .collections-title-text {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

.collections-products {
    margin-top: 2.281%;
}

.row-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row-products .col-1 .cell-1 {
    overflow: visible;
    padding-top: 140.204%;
    position: relative;
}

.row-products.col-33 .col-1 .cell-1 {
    padding-top: 167.302%;
}

.row-products.col-50 .col-1 .cell-1 {
    padding-top: 167.302%;
}

.products-collection,
.products-collection-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.products-collection-img {
    width: 100%;
    height: 100%;
    display: block;
}

.products-collection-link {
    z-index: 2;
}

.products-collection-details {
    display: none;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    padding: 2.8rem 2.3rem 2rem 2.5rem;
    background: #ffffff;
    color: #000000;
    letter-spacing: .1rem;
}

.products-collection-details-active {
    display: block;
    opacity: 1;
}

.products-collection-details {
    z-index: 3;
}

.products-collection-details-title {
    font-family: Baskerville, Avenir, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.products-collection-details-price {
    color: #969696;
    font-size: 0.9rem;
}

.products-collection-details-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: .7rem;
    color: #2a2a2a;
    text-align: right;
}

.products-collection-details-link {
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
    margin-bottom: -3px;
}

.products-collection-details-link:hover {
    color: #969696;
}

.products-collection-details-text svg {
    width: 1.11rem;
    height: 1.3rem;
    margin-left: .4rem;
    fill: #2a2a2a;
}

.products-collection-text {
    padding: 1.1rem 2.6rem 1.1rem;
}

.products-collection-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    letter-spacing: .5px;
    font-family: Oswald, Avenir, sans-serif;
}

.products-collection-text-info {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.products-collection-text-info {
    height: 1em;
}

.products-collection-text-info-link {
    color: #969696;
    text-decoration: none;
}

.products-collection-name {
    text-transform: uppercase;
    color: #121212;
    font-weight: 400;
    background-image: -webkit-linear-gradient(330deg,currentColor,currentColor);
    background-image: -o-linear-gradient(330deg,currentColor 0,currentColor 100%);
    background-image: linear-gradient(120deg,currentColor,currentColor);
    background-repeat: no-repeat;
    background-size: 0 1px;
    background-position: 100% 100%;
    -webkit-transition: background-size .3s linear;
    -o-transition: background-size .3s linear;
    transition: background-size .3s linear;
}

.mt-product-collection {
    margin-top: 7.2rem;
}


@media (max-width: 465px) {
    .image-collection .btn {
        padding-left: 3.4rem;
        padding-right: 3.4rem;
    }
    .row-collections-title .collections-title-title {
        font-size: 2.5rem;
    }
    .row .col-1 .cell-1 .image-collection-title {
        font-size: 3rem !important;
    }
    .container-collections {
        border: 3.2rem solid #fff;
    }
    .image-collection-panel-middle {
        padding-bottom: 0;
    }
    .products-collection-text-info {
        width: auto;
    }
    .products-collection-text {
        padding: 1.1rem 2.2rem 1.1rem;
    }
    .products-collection-details-active {
        display: none;
    }
}

@media (max-width: 375px) {
    .image-collection .btn {
        padding-left: 1.7rem;
        padding-right: 1.7rem;
    }
    .row .col-1 .cell-1 .image-collection-title {
        font-size: 2.5rem !important;
    }
    .row-collections-title .collections-title-title {
        font-size: 1.75rem !important;
    }
    .container-collections.collections-product-listening {
        border: 1.5rem solid #fff;
    }
}

@media (max-width: 320px) {
    .container-collections {
       border: 1.6rem solid #fff;
    }
    .container-collections.collections-product-listening {
        border: 0.5rem solid #fff;
    }
    .products-collection-text {
        padding: 1.1rem 1.4rem 1.1rem;
    }
}

@media (max-width: 720px) {
    .row-products {
        display: block;
    }
}

@media (max-width: 750px) {
    .products-collection-details.products-collection-details-active {
        display: none;
    }
}

@media (min-width: 720px) {
    .row-products .col-1 {
        width: 48.8595%;
        position: relative;
    }

    .row-products.col-33 .col-1 {
        width: 31.812%;
    }

    .row-products.col-50 .col-1 {
        width: 50%;
    }
}
