.column-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

[class*="column-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.column-md-6, .column-lg-4, .column-lg-2, .column-md-4, .column-md-8, .column-xl-3, .column-xl-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (min-width: 576px) {
    .column-sm-6 {
        width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (min-width: 641px) {
    .column-md-6 {
        width: 50%;
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

@media only screen and (min-width: 1025px) {
    .column-lg-4 {
        width: 33.33333%;
        max-width: 33.33333%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    }
}

@media only screen and (min-width: 1025px) {
    .column-lg-2 {
        width: 16.66667%;
        max-width: 16.66667%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    }
}

[class*="column-"] {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .column-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .column-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

@media (min-width: 1200px) {
    .column-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .column-xl-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.column-sidebar .widget {
    margin-bottom: 60px;
    font-weight: 400;
}

.column-sidebar .widget ul li.category-item {
    padding-top: 20px;
    padding-bottom: 20px!important;
    position: relative;
}

.column-sidebar .widget ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    border-bottom: 1px dotted #eee;
}
