.concept-grid-item {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
    max-width: 350px;
}

@media (max-width: 900px) {
    .img-concept-center {
        margin-left: calc(100% / 4)!important;
    }
}
@media (max-width: 573px) {
    .img-concept-center {
        margin-left: 4rem!important;
    }
}

.img-concept-center {
    margin-left: calc(100% / 3);
}

.img-concept-item {
    width: 100%;
    max-width: none;
    -webkit-transition: opacity .5s ease,-webkit-transform 1s cubic-bezier(0,0,.44,1.18);
    transition: opacity .5s ease,-webkit-transform 1s cubic-bezier(0,0,.44,1.18);
    height: auto;
}

.img-concept-story {
    padding-top: 9.5rem!important;
}

.img-content-p {
    padding-top: 4rem!important;
}

.paragraph-center {
    text-align: center;
}

.paragraph-center-concept {
    text-align: center;
    padding-top: calc(450px / 4);
}
