@import 'swiper-custom';
@import 'column';
@import 'slick-custom';
@import 'components/wishlist-content';
@import 'components/cart-products';
@import 'components/custom-control';
@import './../components/table.scss';
@import 'components/mail-products';

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

body .container {
    max-width: 1200px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12, .col-6, .col-lg-6, .col-xl-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.error-message, .info-message, .success-message {
    border-radius: 2px;
    color: #ffffff;
    clear: both;
    border-left: .61805em solid rgba(0,0,0,.15);
    padding: 10px 15px;
    margin-bottom: 20px;
    font-weight: 400;
}

.error-message {
    list-style: none;
}

.error-message {
    background-color: #e2401c;
}

.content-title-head-page {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    max-width: 770px;
    margin: auto;
}

.content-title-head-page#products-listening-collections {
    padding-bottom: 0;
}

.content-title-head-page span {
    position: relative;
    padding: 0 3px;
}

.content-title-head-page .title-contain {
    font-weight: 700;
}

.content-title-head-page a {
    text-decoration: none;
    color: #888;
}

@media (min-width: 992px) {
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .col-xl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.p-3 {
    padding: 1rem!important;
}

.p-4 {
    padding: 1.5rem!important;
}

.pr-4 {
    padding-right: 4rem!important;
}

.pb-5px {
    padding-bottom: 5px!important;
}

.pt-2 {
    padding-top: 2rem!important;
}

.mb--4 {
    margin-bottom: -4rem!important;
}

.pb-5 {
    padding-bottom: 5rem!important;
}

.mt-4 {
    margin-top: 1.5rem!important;
}

.mt-5{
    margin-top: 3rem!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.mb-2 {
    margin-bottom: .5rem!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

.my-4 {
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
}

.mr-1 {
    margin-right: .25rem!important;
}

.mr-4 {
    margin-right: 1.5rem!important;
}

.font-size-12 {
    font-size: 12px!important;
}

.font-size-14 {
    font-size: 14px!important;
}

.font-size-15 {
    font-size: 15px!important;
}

.font-size-20 {
    font-size: 20px!important;
}

.font-weight-bold {
    font-weight: 600!important;
}

.border {
    border: 1px solid #eff2f7!important;
}

.shadow-none {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.avatar-md {
    height: 4.5rem;
    width: 4.5rem;
}

.bg-soft-primary {
    background-color: rgba(85,110,230,.25)!important;
}

.rounded {
    border-radius: .25rem!important;
}

.float-right {
    float: right!important;
}

.align-top {
    vertical-align: top!important;
}

@media only screen and (min-width: 1025px) {
    .lg-align-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.posts-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media only screen and (min-width: 1025px) {
    .lg-size-20 {
        width: 20%;
        max-width: 20%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
    }
}

@media only screen and (min-width: 768px) {
    .lg-size-18 {
        width: 16%;
        max-width: 16%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16%;
        flex: 0 0 16%;
    }
}

@media only screen and (max-width: 768px) {
    .lg-size-25 {
        width: 25%;
        max-width: 25%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }
}

@media only screen and (max-width: 320px){
    .lg-size-33 {
        width: 33.33%;
        max-width: 33.33%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
    }
}

.element-content .element-container.instagram-width {
    max-width: 1350px;
}

.instagram {
    padding: 1rem;
}

.instagram .ratio-img-instagram:before {
    padding-top: 100%;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.instagram a {
    display: block;
    margin-bottom: 2rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: none;
}

@media only screen and (min-width: 1025px) {
    .instagram a {
        margin-bottom: 0;
    }
}

[class*="ratio-"] {
    position: relative;
    background-color: #ECECEC;
}

[class*="ratio-"]:before {
    display: block;
    content: "";
    width: 100%;
}

.d-block {
    display: block!important;
}

@media (min-width: 576px) {
    .d-sm-inline-block {
        display: inline-block!important;
    }
}

.block-form-contact {
    max-width: 770px;
}

.block-form-contact .form-contact p {
    margin-bottom: 1rem;
}

.block-form-contact .form-contact label,
.block-form-contact .form-contact p {
    color: #333333;
    font-size: .9875rem;
    font-weight: 500;
}

.block-form-contact .form-contact input[type=submit] {
    font-size: .9875rem;
    font-weight: 500;
    padding: 15px 45px;
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.block-form-contact .form-contact input {
    margin-bottom: 13px;
}

.block-form-contact .form-contact input[type=text],
.block-form-contact .form-contact input[type=email],
.block-form-contact .form-contact textarea {
   border-width: 0 0 2px 0;
    border-color: #eeeeee;
    border-style: solid;
    font-weight: 300;
    padding: 0;
    height: auto;
}

.block-form-contact .form-contact input[type=text]:hover,
.block-form-contact .form-contact input[type=email]:hover,
.block-form-contact .form-contact textarea:hover {
    border-bottom-color: #ceb06a;
}

.block-form-contact .form-contact input[type=submit]:hover {
    background-color: #ceb06a;
    border-color: #ceb06a;
    color: #ffffff;
}


.container-mail {
    padding-top: 25px;
    padding-bottom: 25px;
}
