@import 'content';

.element-content {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.animated {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
}

.fadeIn {
    animation-name: fadeIn;
}

.element-content .element-container {
    max-width: 1710px;
}

@media (min-width: 768px) {
    .element-content .element-col-100, .element-col-100 {
        width: 100%;
    }
    .element-content .element-col-33, .element-col-33 {
        width: 33.333%;
    }
    .element-content .element-col-25, .element-col-25 {
        width: 25%;
    }
    .element-content .element-col-50, .element-col-50 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .element-column {
        width: 100%;
        padding-right: 0!important;
        padding-top: 15px;
    }
}

@media (max-width: 635px) {
    .flex-wrap-element-category {
        flex-wrap: wrap;
    }
}

.element-content-img-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}

.element-widget-contain > .element-content-img-container {
    display: block;
}

.element-img-wrapper {
    z-index: 1;
    overflow: hidden;
}

.element-content-img-container .element-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
    width: 100%;
}

.element-img-bg, .element-img-bg-overlay, .element-img-bg-categories {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.element-img-bg {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.element-img-bg-categories {
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.element-img-bg-overlay {
    z-index: 2;
}

.element-content-img-container:hover .element-img-bg-overlay {
    background-color: rgba(0, 0, 0, .3);
}

.element-content-img-container .element-img-wrapper .element-img-bg-overlay {
    mix-blend-mode: darken;
}

.element-transition-img-bg.element-transition-scale {
    //-webkit-transform: scale(1.2) translateX(-8%);
    //transform: scale(1.2) translateX(-8%);
    will-change: transform;
}

.element-transform-move:hover .element-transition-img-bg {
    -webkit-transform: scale(1.2) translateX(8%);
    transform: scale(1.2) translateX(8%);
}

.element-content-img-container .element-img-wrapper .element-transition-img-bg,
.element-content-img-container .element-img-wrapper .element-img-bg-overlay {
    transition: 1.5s;
}

.element-img-bg-content, .element-img-bg-content-categories {
    z-index: 2;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 35px;
    width: 100%;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
    color: #ffffff;
}

.element-content-img-container .element-img-bg-content,
.element-content-img-container .element-img-bg-content-categories {
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.element-content-img-container .element-img-bg-content {
    min-height: 900px;
    text-align: left;
    padding: 40px;
}

.element-content-img-container .element-img-bg-content-categories {
    min-height: 400px;
    text-align: left;
    padding: 40px;
}

@media (max-width: 1080px) {
    .element-content-img-container .element-img-bg-content {
        width: 745px;
        min-height: 500px !important;
    }

    .element-content-img-container .element-img-bg-content h2.element-img-bg-content-title.content-title {
        top: 150px !important;
    }
}

@media (max-width: 400px) {
    .element-content-img-container .element-img-bg-content {
        min-height: 260px !important;
    }
}

@media (max-width: 425px) {
    .element-content-img-container .element-img-bg-content {
        min-height: 280px !important;
    }
}

@media (max-width: 450px) {
    .element-content-img-container .element-img-bg-content {
        min-height: 305px !important;
    }
}

.element-img-bg-content-title.content-title, div.content-after-title {
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
    color: #fff;
    width: 100%;
    margin: 5px 0 0;
}

.element-content-img-container .element-img-bg-content-title.content-title {
    color: #ffffff;
    border-color: #ffffff;
}

.element-content-img-container .element-img-bg-content h2.element-img-bg-content-title.content-title {
    font-size: 74px;
    font-weight: 500;
    top: 400px;
    right: 400px;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
}

@media (max-width: 450px) {
    .element-content-img-container .element-img-bg-content h2.element-img-bg-content-title.content-title {
        font-size: 30px;
        top: 25% !important;
        right: 40% !important;
    }
}

@media (max-width: 1240px) {
    .element-content-img-container .element-img-bg-content h2.element-img-bg-content-title.content-title {
        right: 160px;
    }
}

.element-content-img-container .element-img-bg-content-categories h2.element-img-bg-content-title.content-title {
    font-size: 1.875rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 36px;
}

.element-content-img-container .element-img-bg-content .element-img-bg-content-title,
.element-content-img-container .element-img-bg-content-categories .element-img-bg-content-title {
    transition-duration: 1s;
}

.element-content-img-container .element-img-bg-content h2:not(:last-child),
.element-content-img-container .element-img-bg-content-categories h2:not(:last-child) {
    margin-bottom: 12px;
}

.shop-link-content {
    color: #ffffff;
    border-color: #ffffff;
}

.shop-link-content.element-size-sm {
    font-size: 15px;
    padding: 12px 24px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.shop-link-content.link-btn {
    cursor: pointer;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background: 0 0;
}

.shop-link-content[class*=elementor-size-] {
    border-radius: 0;
}

.element-img-bg-content .shop-link-content {
    color: #333333;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #333333;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
}

.element-img-bg-content .shop-link-content:hover {
    color: #ffffff;
}

.element-img-bg-content-categories .shop-link-content {
    color: #ffffff;
    padding: 5px 0;
}

.element-img-bg-content-categories .shop-link-content:hover {
    color: #ffffff;
}

.element-categories {
    margin-top: 30px;
    margin-bottom: 30px;
}

.element-section-wrap .element-news-products {
    padding: 50px 0 165px;
}

.element-widget-title-news .element-widget-contain {
    margin: 0 0 10px;
}

.element-widget-title-news .element-widget-title-heading {
    padding: 0;
    margin: 0;
    font-weight: 600;
    line-height: 1;
}

.element-widget-menu .element-under-title {
    font-size: 16px;
}

.element-widget .element-widget-contain p:last-child,
.element-widget:not(:last-child) {
    margin-bottom: 0;
}

.element-products-lists > .element-widget-contain {
    margin: 0 -15px;
    padding: 0 0 30px;
}

.element-widget-error-code {
    text-align: center;
    margin-bottom: 0;
}

.element-widget-contain.element-code-error {
    margin: 0 0 30px;
}

.element-widget-contain.element-code-error-under-title {
    margin: 0 0 17px;
}

.element-button span {
    text-decoration: inherit;
}

.element-button-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.element-button-text {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
    -ms-flex-order: 10;
    order: 10;
    display: inline-block;
}

.element-size-error-code {
    font-size: 74px;
}

.element-size-error-code-under-title {
    font-size: 26px;
    font-weight: 400;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-element-concept {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.element-button-link {
    display: inline-block;
    line-height: 1;
    background-color: #818a91;
    color: #fff;
    fill: #ffffff;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.element-widget-opal-btn .element-button-link {
    background: #333333;
    color: #ffffff;
    padding: 22px 45px;
    border-radius: 0;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
}

.element-button-outline-primary .element-button-link {
    border: 2px solid #fff;
    background: 0 0 !important;
    color: #ffffff;
    padding: 20px 45px;
    font-weight: 500;
}

.element-button-link-back .element-button-link {
    color: #333333;
    padding: 0 0 5px;
    border-style: solid;
    border-width: 0 0 2px;
    border-color: #ceb06a;
}

.element-button-link span {
    text-decoration: inherit;
}
