@import "components/reviews";
@import "components/products-filter";

.element-container.element-products-width {
    max-width: 1170px;
}

ul.products {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    clear: both;
}

ul.products li.product {
    list-style: none;
    -webkit-transition: all ease .35s;
    transition: all ease .35s;
    position: relative;
    font-size: 16px;
}

@media (min-width: 768px) {
    ul.products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }

    ul.products li.product {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 25%;
        float: left;
        //padding-left: 15px;
        //padding-right: 15px;
    }

    ul.products li.product.first {
        clear: both!important;
    }

    ul.products li.product:hover .product-active-buttons {
        top: 80%;
    }
}

ul.products::after, ul.products::before {
    content: '';
    display: table;
}

ul.products li.product .product-contain {
    margin: 30px;
    -webkit-transition: all ease .35s;
    transition: all ease .35s;
}

ul.products li.product .product-contain {
    text-align: center;
}

ul.products li.product .product-contain .product-content-top {
    margin-bottom: 18px;
}

ul.products li.product .product-image {
    display: block;
    width: calc(100% + 25px);
    overflow: hidden;
    position: relative;
}

ul.products li.product .product-content-top > .product-image {
    position: relative;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
}

ul.products li.product img {
    display: block;
    margin: 0 auto;
}

.product-active-buttons {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 2;
}

ul.products li.product:hover .product-active-buttons {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(-70px) translateZ(0);
    transform: translateY(-70px) translateZ(0)
}

@media (min-width: 992px) {
    .product-active-buttons {
        position: absolute;
        opacity: 0;
    }
}

ul.products li.product .product-active-buttons {
    position: absolute;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    transition: opacity .6s ease,visibility .6s ease,transform .6s ease,-webkit-transform .6s ease;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    opacity: 0;
    left: 0;
    right: 0;
    width: auto;
}

ul.products li.product .product-active-buttons > div {
    margin-left: 3px;
    margin-bottom: 5px;
}

.top-btn {
    position: relative;
    display: inline-block;
}

[class*=top-btn]:after, [class*=top-btn]:before {
    position: absolute;

}

[class*=top-btn]:after, [class*=top-btn]:before {
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

[class*=top-btn]:before {
    content: '';
    position: absolute;
    background: 0 0;
    border: 6px solid transparent;
    z-index: 1000001;
}

[class*=top-btn]:hover:after, [class*=top-btn]:hover:before {
    visibility: visible;
    opacity: 1;
}

[class*=top-btn]:hover:after, [class*=top-btn]:hover:before {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

.top-btn:hover:before {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.top-btn:before {
    border-top-color: #ceb06a;
}

.top-btn:before {
    margin-bottom: -11px;
}

.top-btn:after,
.top-btn:before {
    bottom: 100%;
    left: 50%;
}

.top-btn:before {
    left: calc(50% - 6px);
}

.product-active-buttons .btn-add-cart {
    font-size: 0;
    text-align: center;
    background: #333333;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    display: grid;
    padding: 0;
    border-radius: 100%;
}

.button-cart.top-btn > a.btn-add-cart {
    font-size: 0;
    line-height: 0;
    background: 0 0;
    border-color: #EEEEEE;
    color: #ffffff;
}

ul.products li.product .btn {
    opacity: 1;
    visibility: visible;
}

ul.products li.product:hover .btn.btn-add-cart {
    opacity: 1;
}

.product-active-buttons > .button-cart.top-btn > a.btn-add-cart  {
    border: transparent;
    background-color: #474747;
}

ul.products li.product h3.product-title {
    font-size: .8725rem;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: 300;
}

ul.products li.product h3.product-title a {
    color: #777777;
}

.star-rating {
    overflow: hidden;
    position: relative;
    height: 1.618rem;
    line-height: 1.618;
    text-align: left;
    font-size: .877rem;
    width: 5.3em;
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
}

ul.products li.product .star-rating {
    font-size: .625rem;
}

ul.products li.product div.star-rating {
    margin: 0 auto;
}

.star-rating::before {
    content: '\f005\f005\f005\f005\f005';
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5rem;
}

.star-rating span::before {
    content: '\f005\f005\f005\f005\f005';
    top: 0;
    position: absolute;
    left: 0;
    color: #ceb06a;
}

.price {
    color: #222222;
    font-weight: 600;
    font-size: 1rem;
}

.price del {
    font-size: .875rem;
    font-weight: 300;
    color: #777;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.price ins {
    font-weight: 500;
}

.price ins {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: .61805em;
    background-color: transparent;
    text-decoration: none;
    color: #dc443a;
}

.price del+ins {
    margin-right: .327em;
    margin-left: .300em;
}

.price del .price-amount {
    font-size: 1.25rem;
    font-weight: 400;
}

.price-filter-products {
    padding-right: 5px;
}

ul.products li.product .price {
    margin-bottom: 25px;
}

div.single-product.product {
    position: relative;
}

.single-product.product::before {
    content: '';
    display: table;
}

.product-gallery-with-image.product-gallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.single-product.product .product-gallery {
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .single-product.product .product-gallery {
        margin-bottom: 3.70633em;
    }
}

.product-gallery {
    opacity: 1;
    position: relative;
    transition: opacity 0.25s ease-in-out 0s;
}

.swiper-container {
    width: 100%;
    position: relative;
}

.product-gallery img {
    margin: 0;
}

.product-gallery .image-product {
    max-width: 100%;
}

.single-product.product .summary {
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .single-product.product .summary {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.entry-summary .summary-contain h1.product-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 7px;
}

.entry-summary .summary-contain .product-rating {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.entry-summary .summary-contain .product-rating::before,
.entry-summary .summary-contain .product-contain::after {
    content: '';
    display: table;
}

.entry-summary .summary-contain .star-rating {
    float: left;
    margin-right: .61805em;
    font-size: .8125rem;
}

.entry-summary .summary-contain a {
    font-weight: 300;
    text-decoration: none;
}

.summary-contain .product-short-description {
    font-size: .8125rem;
    line-height: 1.846;
    margin-bottom: 27px;
}

.summary-contain .product-short-description {
    margin-bottom: 0;
}

.entry-summary .price {
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 20px;
    line-height: 1;
}

.entry-summary .price .price-amount {
    font-weight: 600;
}

form.cart {
    padding: 15px 0;
}

form.cart::after,
form.cart::before {
    content: '';
    display: table;
}

form.cart::after {
    clear: both;
}

form.cart .quantity-cart {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: .875rem;
    border: 1px solid #eee;
}

form.cart .quantity-cart .min-quantity-products,
form.cart .quantity-cart .plus-quantity-products {
    background: 0 0;
    border: 0;
    cursor: pointer;
    color: #777777;
    min-width: 30px;
}

form.cart .quantity-cart .min-quantity-products:hover,
form.cart .quantity-cart .plus-quantity-products:hover {
    background-color: #ceb06a;
    color: #ffffff;
}

form.cart .quantity {
    float: left;
}

form.cart .quantity-cart .quantity-product {
    width: 4em;
    text-align: center;
}

form.cart .quantity-cart input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    border: 0;
    color: #333333;
    font-size: 1.375rem;
    height: 64px;
}

.reader-product-text {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.reader-product-text {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}

.single-product .reader-product-text {
    display: none;
}

form.cart .btn-add-car-product {
    text-transform: capitalize;
    position: relative;
}

form.cart .btn-add-car-product .cart-btn {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    font-size: 1.5rem;
    margin-right: 10px;
    vertical-align: -13%;
    display: inline-block;
}

@media (min-width: 992px) {
    form.cart .btn-add-car-product {
        width: calc(100% - 180px);
        height: 64px;
    }
}

.entry-summary .add-to-wishlist-btn {
    margin-bottom: 20px;
}

.entry-summary .add-to-wishlist-btn a {
    color: #333333;
    font-size: .9375rem;
    text-transform: capitalize;
    font-weight: 500;
}

.entry-summary .add-to-wishlist-btn a:hover {
    color: #ceb06a;
}

.entry-summary .add-to-wishlist-btn a i {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    margin-right: 5px;
    display: inline-block;
    vertical-align: -12%;
    font-size: 1.125rem;
}

.span-wishlist {
    font-weight: 600;
}

.product-meta {
    font-size: .8625rem;
    padding-top: 15px;
    margin-top: 1rem;
    border-top: 1px solid #eee;
    text-transform: capitalize;
    color: #333333;
}

.product-meta .posted {
    display: block;
}

.product-meta a {
    font-weight: 300;
    text-decoration: none;
    padding-left: 5px;
    color: #999999;
}

.product-info {
    font-size: 1.04em;
    padding-top: 1.41575em;
    margin-top: 15px;
    margin-bottom: 50px;
    border-top: 1px solid #eee;
}

.product-info .product-info-security {
    padding-top: 27px;
    margin-bottom: 1.41575em;
    border-top: 1px solid #eee;
}

.product-info .product-info-security h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.product-info .product-info-security img {
    max-width: 100%;
}

.product-tabs {
    width: 100%;
}

.single-product div.products-accordions {
    overflow: hidden;
    padding: 1em 0;
}

@media (min-width: 768px) {
    .single-product div.product-tabs {
        clear: both;
    }
}
.single-product div.products-accordions::after,
.single-product div.products-accordions::before {
    content: '';
    display: table;
}

.single-product .products-accordions .title-single-product-ui-header {
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eee;
}

.single-product  .products-accordions .title-single-product-ui-header a {
    position: relative;
    display: block;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}

.single-product  .products-accordions .title-single-product-ui-header.ui-header-active a {
    color: #222222;
}

.single-product  .products-accordions .title-single-product-ui-header a:not(.no-arrow-icon):after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    position: absolute;
    right: 0;
    top: 50%;
    text-align: center;
    font-size: 1.25rem;
    color: #888888;
    transition: transform .4s ease,-webkit-transform .4s ease;
    backface-visibility: hidden;
    perspective: 800px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 800px;
}

.single-product  .products-accordions .products-accordions-panel {
    padding: 20px 0;
    font-size: .8125rem;
}

.products-accordions-panel.panel h2:first-of-type {
    font-size: 1.618em;
    margin-bottom: 2em;
    display: none;
}

.products-accordions-panel.panel h5 {
    font-weight: 600;
}

.single-product table.product-attributes {
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
}

.single-product .products-accordions .product-attributes {
    margin-bottom: 20px;
}

.single-product table.product-attributes td {
    text-align: right;
}

.single-product table.product-attributes th.product-attributes-item-label,
.single-product table.product-attributes td.product-attributes-item-value {
    border-top: 0;
    border-bottom: 1px solid #EEEEEE;
}

.related-products {
    padding: 100px 0 0 0;
    width: 100%;
}

.related-products > h2:first-child {
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    margin-bottom: 55px;
}

.top-btn svg.active {
    fill: #000000!important;
}

div.product table.variations {
    table-layout: fixed;
    margin: 0;
}

div.product table.variations td,
div.product table.variations th {
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 15px 0 0;
    list-style: none;
    vertical-align: inherit;
    background-color: transparent;
    border-top: 0;
}

div.product table.variations .label {
    color: #333333;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
}

div.product table.variations .value {
    margin-bottom: 1em;
    width: 100%;
}

.select-elements-product > .select-element-product-raw {
    display: none!important;
}

div.product table.variations select {
    border: 0;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0;
    vertical-align: middle;
}

.select-elements-product .items-product-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.items-product-wrapper li.variable-item {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all .2s ease;
    position: relative;
}

.items-product-wrapper li.variable-item {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    padding: 2px;
    margin: 4px 8px 4px 0;
}

.items-product-wrapper li.variable-item.button-variable-item {
    min-width: 40px;
    height: 40px;
    width: auto;
    text-align: center;
}

.items-product-wrapper li.variable-item.button-variable-item  {
    background-color: #ffffff;
    padding: 2px;
    margin: 4px 8px 4px 0;
    color: #000000;
}

.items-product-wrapper li.variable-item.selected {
    -webkit-box-shadow: 0 0 0 2px #000;
    box-shadow: 0 0 0 2px #000;
}

.variable-item[data-title]:before,
.variable-item[data-title]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    box-sizing: inherit;
    position: absolute;
    bottom: 130%;
    left: 50%;
    z-index: 999;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 7px 15px rgba(0,0,0,.3);
    transition: opacity .3s linear,bottom .3s linear;
}

.variable-item[data-title]:before {
    margin-bottom: 5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 7px;
    border-radius: 3px;
    background-color: rgba(51,51,51,.9);
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

.variable-item[data-title]:before {
    min-width: 100px;
    content: attr(data-title);
}

.variable-item[data-title]:after {
    margin-left: -5px;
    width: 0;
    border-top: 5px solid rgba(51,51,51,.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: '';
    font-size: 0;
    line-height: 0;
}

.button-variable-item span {
    font-size: 16px;
}

.variable-item .variable-item-span {
    padding-top: 0.4rem;
}

.variable-item .variable-item-span-color {
    height: 10px;
    width: 10px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.variable-item .variable-item-span-color::after {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    top: 0;
    left: 0;
    webkit-box-shadow: inset 0 0 1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,.5);
}

@media (max-width: 425px) {
    form.cart .btn-add-car-product {
        margin-top: 0.5rem;
    }
}

@media (max-width: 375px) {
    form.cart .btn-add-car-product {
        float: left;
    }
}
